@use "../mixins/_responsive" as r;
@use "../mixins/_animations" as an;
@use "../variables/_colors" as c;

.header {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;

  &__btn {
    background-color: c.$color-black;
    color: c.$color-white;
    font-size: 1.2rem;
    padding: 0.5rem 1.4rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    align-self: center;
    margin-bottom: 1rem;

    &:hover {
      background-color: lighten(c.$color-black, 20%);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    background-color: lighten(c.$color-black, 10%);
    height: 100vh;
    align-items: flex-start;

    &--active {
      @include an.slideIn;
    }

    &--inactive {
      @include an.slideOut;
    }
  }

  @include r.media-desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    &__btn {
        position: unset;
        margin: 0;
    }

    &__block {
      position: unset;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      align-items: center;
      background-color: unset;
      height: unset;
    }
  }
}

.nav {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;

  &__link {
    color: c.$color-black;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: c.$color-yellow;
    }
  }

  &__link {
    color: c.$color-white;
  }

  &__close {
    position: absolute;
    right: 0.5rem;
    color: c.$color-white;
    display: block;
    top: 0.5rem;

    &:hover {
      color: c.$color-yellow;
    }
  }

  @include r.media-desktop {
    position: unset;
    height: unset;
    background-color: unset;
    padding: unset;
    flex-direction: row;
    margin: 0;

    &__close {
        display: none;
    }

    &__link {
        color: c.$color-black;
    }
  }
}

.menu-bar {
  display: unset;
  margin-left: auto;

  @include r.media-desktop {
    display: none;
  }
}
